<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="{{ .Site.Params.themeColor }}">

    {{ partial "sidebar.html" . }}

    <div class="content container">
      <div class="posts">

        {{ range .Data.Pages }}

        <div class="post">
          <h1 class="post-title">
            <a href="{{ .Permalink }}">
              {{ .Title }}
            </a>
          </h1>

          <div class="post-details">
            <ul id="tags">
              <li>
                <i class="material-icons">label_outline</i>
              </li>
                {{ range .Params.tags }}
                  <li><a href="tags/{{ . | urlize }}">{{ . }}</a> </li>
                {{ end }}
            </ul>
            <div class="post-date">
              <i class="material-icons">today</i> {{ .Date.Format "2006-01-02" }}
            </div>
          </div>

          {{ .Summary }}

          <a href="{{ .Permalink }}">
            keep reading
            <i class="material-icons">chevron_right</i>
          </a>

        </div>

        {{ end }}

      </div>
    </div>

  </body>
</html>
