<!DOCTYPE html>
<html lang="en">
  <head>
    {{partial "head.html" .}}
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      {{ $.Scratch.Add "title" "Luiz Branco" }}
      {{partial "header.html" .}}
      {{partial "menu.html" .}}
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-shadow--2dp mdl-cell--8-col mdl-grid mdl-color--white">
            main col
          </div>
          <div class="mdl-cell mdl-shadow--2dp mdl-cell--4-col mdl-grid mdl-color--white">
            side col
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
